[flake8]
inline-quotes = '
max-line-length = 79

ignore = ANN002, ANN101, ANN102, D104

exclude = .git,__pycache__,.pytest_cache,build,dist,venv,storage,drafts

per-file-ignores =
	background-service/service/background_app/routers/task.py: ANN003
	gstream-library/gstream/node/gpu_task.py: F811
	gstream-library/gstream/worker/delays_finder.py: ANN202
	gstream-library/gstream/worker/base.py: ANN202